.page {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 20px;
}

.carousel {
  margin: 20px 0;
  height: 100%;
  width: auto;

  &__image {
    width: auto;
  }
}

.aside {
  transform: translateY(-50%);

  &__price {
    margin: 0 !important;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.card {
  margin: 10px 0;
  border-radius: 5px;
  cursor: auto;

  &__content {
    display: flex;
    flex-wrap: wrap;

    > div {
      width: 40%;
    }
  }
}

.main {
  &__address {
    padding: 10px 0;
  }

  &__desc {
    margin: 10px 0;
  }

  &__header {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
