.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  &__logo {
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(0.9);
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &_list {
    min-width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 18px;
    margin-bottom: 0;
    margin-right: 76px;

    &__item {
      color: #000;
      padding: 5px 10px;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
