.footer {
  &_main {
    display: flex;
    justify-content: space-between;
  }

  &_description {
    display: flex;
    flex-direction: column;
    max-width: 267px;

    &__text {
      padding: 10px 0;
    }
  }

  &_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &_column {
    min-width: 200px;
    &__item {
      a {
        display: block;
        width: 100%;
      }
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
