.card {
  border-radius: 5px;
  overflow: hidden;
}

.price {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.image {
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 16/9;
  transition: 0.4s ease-in-out;
  &:hover {
    transform: scale(1.3);
  }
}
